# Node modules
node_modules/

# Build directories
build/
dist/
out/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# Other
*.tmp
*.bak
*.swp
